.mockupContainer {
  position: relative;
  align-self: center;
  height: 347px;
  width: 165px;
}

.image {
  position: absolute;
  top: 8px;
  left: 5px;
  width: 154px;
  height: 335px;
  border-radius: 12px;
}

.mockup {
  position: absolute;
  left: 0;
  top: 0;
}

.iconRow {
  position: absolute;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
}

.iconBack {
  left: -40px;
}

.iconNext {
  right: -40px;
}
