.landing {
    height: 92.5vh;
    color: whitesmoke;
    display: flex;
}
.sides {
    width: 50%;
}

.sideLeft {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
}
.sideLeft p{
    font-size: 35px;
    text-align: center;
}
.sideLeft h1{
    font-size: 40px;
    margin: 0;
    margin-top: 10px;
}
.sideRigth {
    position: relative;
}

.photo {
    width: 220px;
    height: 350px;
    border: 5px solid white;
}

.photoF {
    position: absolute;
    left: 150px;
    top: 90px;
    background-image: url("../../image/dev1.jpg");
    background-size: cover;
    z-index: 1;
}
.photoS {
    position: absolute;
    right: 120px;
    bottom: 200px;
    background-image: url("../../image/dev2.jpg");
    background-size: cover;
}
