.container {
    color: black;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    animation: rgb 6s linear infinite;
}

@keyframes rgb {
    0% {
        border-top: 5px solid red;
    }

    25% {
        border-top: 5px solid rgb(255, 247, 0);
    }

    50% {
        border-top: 5px solid rgb(0, 0, 255);
    }

    75% {
        border-top: 5px solid rgb(217, 0, 255);
    }

    100% {
        border-top: 5px solid rgb(0, 255, 8);
    }
}

.container h1 {
    position: absolute;
    top: 0;
    left: 20px;
}

.containerMain {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    align-self: center;
    transform: translateX(1760px);
    transition: all 1s ease;
    
}

.main {
    width: 1030px;
    height: 500px;
    overflow: hidden;
    position: relative;
    
}
.main span {
    cursor: pointer;
}

.main span:hover {
    transform: scale(1.5);
}

.left {
    position: absolute;
    left: 5px;
    top: 50%;
    font-size: 30px;
    z-index: 1;
}

.rigth {
    position: absolute;
    top: 50%;
    right: 6px;
    font-size: 30px;
}


.main img {
    width: 200px;
}

.main img:hover {
    transform: scale(1.2);
}

@media (max-width: 400px) {

    .container {
       justify-content: start;
       
    }
    
    .containerMain{
        width: 100%;
        transform: none;
        flex-wrap: wrap;
        margin-top: 75px;

    }

    .main {
        width: 100%;
        overflow: visible;
    }

    .containerMain img {
        width: 70px;
    }

    .left, .rigth {
        display: none;
    }

    
}