@font-face {
  font-family: "jost";
  src: url("/src/fonts/Jost/Jost-Black.ttf") format("ttf"),
    url("/src/fonts/Jost/Jost-Black.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  z-index: 1;
  flex-direction: column;
  background-color: #1d1f20;
  justify-content: center;
  align-items: center;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.imageContent {
  width: 40%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  object-fit: cover;
  width: 90%;
  height: 95%;
}

.form {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input {
  width: 80%;
  height: 30px;
  border: none;
  margin-bottom: 5px;
  padding-left: 5px;
  border-bottom: 1px solid #ffff;
  color: #ffff;
  font-family: "Raleway";
  background-color: transparent;
}

.input::placeholder {
  color: #ccc;
  font-family: "Raleway";
  letter-spacing: 1px;
}

.input:focus,
textarea:focus {
  outline: none;
}
.textarea {
  width: 80%;
  border: none;
  color: #ffff;
  font-family: "Raleway";
  padding-left: 5px;
  background-color: transparent;
  border-bottom: 1px solid #ffff;
}
.textarea::placeholder {
  color: #ccc;
  font-family: "Raleway";
}

.buttonSubmit {
  width: 81%;
  height: 40px;
  background-color: #2c2d36;
  color: #ffffff;
  font-family: "Bebas Neue";
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 16px;
  margin-top: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
  border: 2px solid #2c2d36;
}

.buttonSubmit:hover {
  background-color: #fff;
  border: 2px solid #2c2d36;
  color: #2c2d36;
  cursor: pointer;
}

.title {
  font-family: "Bebas Neue";
  color: #ffff;
  letter-spacing: 3px;
  font-size: clamp(1rem, 2vw + 0.5rem, 2rem);
}

@media (max-width: 600px) {
  .container {
    justify-content: center;
    align-items: center;
  }
  .imageContent {
    display: none;
  }
  .content {
    margin: 0;
    justify-content: center;
    align-items: center;
  }
  .form {
    width: 100%;
    height: 100%;
  }
}
