.navbar {
    display: flex;
    color: whitesmoke;
    justify-content: space-between;
    padding: 0px 10px;
    align-items: center;
}

.navbar h1 {
    font-family: "AustraliaBelmonte";
    margin: 0;
}

.navbar ul{
    display: flex;
}


.navbar ul li {
    list-style: none;
    text-align: center;
    margin: 0px 10px;
    cursor: pointer;

}

.navbar a {
    text-decoration: none;
    color: whitesmoke;

}
.active {
    border-bottom: 3px solid rgb(0, 140, 255);
}

