.container {
  height: 100vh;
  width: 100%;
  max-width: 1200px;
  margin: 0;
  padding: 0;
  flex-direction: "column";
}
/* 
.containerContent {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
    justify-content: start;
    padding-top: 80px;
  }
} */
