.swiper {
  width: 80%;
  padding-top: 10px;
  padding-bottom: 35px;
}

.swiperSlide {
  background-position: center;
  background-size: cover;
  width: 150px;
  height: 150px;
}

.swiperSlide img {
  display: block;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 800px) {
  .containerSlider {
    width: 70%;
  }
  .swiperSlide {
    background-position: center;
    background-size: cover;
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 450px) {
  .containerSlider {
    width: 90%;
  }
  .swiperSlide {
    background-position: center;
    background-size: cover;
    width: 150px;
    height: 150px;
  }
}
