.swiper {
  width: 80%;
  padding-top: 10px;
  padding-bottom: 35px;
}

.swiperSlide {
  background-position: center;
  background-size: cover;
  width: 150px;
  height: 150px;
}

.swiperSlide img {
  display: block;
  width: 85%;
  height: 100%;
}

:global(.swiper-pagination-bullet) {
  background-color: #fff;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

:global(.swiper-pagination-bullet-active) {
  background-color: rgb(250, 235, 215);
  transform: scale(1.3);
  width: 30px;
  transition: all 0.5s ease;
  border-radius: 4px;
}
:global(.swiper-slide-visible) {
  background-color: rgb(250, 235, 215);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .containerSlider {
    width: 100%;
  }
  .swiperSlide {
    background-position: center;
    background-size: cover;
    width: 150px;
    height: 150px;
  }
  .swiper {
    width: 100%;
  }
}
